
# needs to be a template, to support different versions

# deployed by ansible
deb {{mirror}} {{version}} main
deb-src {{mirror}} {{version}} main

deb http://security.debian.org/ {{version}}/updates main
deb-src http://security.debian.org/ {{version}}/updates main

deb {{mirror}} {{version}}-updates main
deb-src {{mirror}} {{version}}-updates main

# firmware
# deb http://http.us.debian.org/debian/ {{version}} non-free contrib
deb {{mirror}} {{version}} non-free contrib

# tvheadend
# https://bintray.com/dreamcat4/ubuntu
# http or https
deb http://dl.bintray.com/dreamcat4/ubuntu stable main

