<?xml version='1.0' encoding='utf-8'?>

<!-- The contents of this file will be loaded for each web application -->

<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>


    <!-- Environment name="aodn.configuration" value="/mnt/ebs/tomcat7/portal_imos123/conf/imos123/Portal.groovy" type="java.lang.String" override="true"/ -->

    <Environment name="aodn.configuration" value="/var/lib/tomcat7/conf/Portal.groovy" type="java.lang.String" override="true"/>

</Context>



