<?xml version='1.0' encoding='utf-8'?>
<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!--
        http://askubuntu.com/questions/268266/can-not-find-class-org-apache-tomcat-dbcp-dbcp-basicdatasourcefactory-in-tomcat7
        org.apache.commons.dbcp.BasicDataSourceFactory comes from commons-dbcp.jar or similar
    -->

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Resource
        name="jdbc/geonetwork"
        auth="Container"
        factory="org.apache.commons.dbcp.BasicDataSourceFactory"
        type="javax.sql.DataSource"
        driverClassName="org.postgis.DriverWrapper"
        url="jdbc:postgresql_postGIS://localhost:5432/geonetwork?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"
        validationQuery="SELECT 1"
        username="geonetwork" password="geonetwork"
        maxActive="10" maxIdle="5" maxWait="-1"
        testOnBorrow="true" testWhileIdle="true" testOnReturn="true"
        timeBetweenEvictionRunsMillis="30000"
        numTestsPerEvictionRun="3"
        minEvictableIdleTimeMillis="60000"
        defaultAutoCommit="false"
    />

    <!-- TODO use instead of define in /etc/default/tomcat -->
    <Environment name="aodn.configuration" value="/var/lib/tomcat7/conf/overrides/config-overrides.xml" type="java.lang.String" override="true"/>

</Context>

