
drop database if exists geonetwork;
drop user if exists geonetwork;

create user geonetwork password 'geonetwork'; 

create database geonetwork owner geonetwork; 

\c geonetwork;

create extension postgis;

