
grails.serverURL  = "https://aatams.emii.org.au/aatams"
grails.serverHost = "aatams.emii.org.au"
fileimport.path   = "/var/lib/tomcat7/aatams_data/fileimports"
bulkimport.path   = "/var/lib/tomcat7/aatams_data/fileimports/bulkimports"

dataSource {
    jndiName = "java:comp/env/jdbc/aatams3"
}


searchable {
    compassConnection = new File(
        "/var/lib/tomcat7/aatams_data/search/${grailsEnv}"
    ).absolutePath
}

log4j = {
    appenders {
        console name: 'stdout', layout: pattern(conversionPattern: "%d %-5p [%-12t] [%X{username}] %c  - %m%n")
        'null' name: "stacktrace"
    }

    error  'org.codehaus.groovy.grails.web.servlet',  //  controllers
           'org.codehaus.groovy.grails.web.pages', //  GSP
           'org.codehaus.groovy.grails.web.sitemesh', //  layouts
           'org.codehaus.groovy.grails.web.mapping.filter', // URL mapping
           'org.codehaus.groovy.grails.web.mapping', // URL mapping
           'org.codehaus.groovy.grails.commons', // core / classloading
           'org.codehaus.groovy.grails.plugins', // plugins
           'org.codehaus.groovy.grails.orm.hibernate', // hibernate integration
           'org.springframework',
           'net.sf.ehcache.hibernate'

    warn   'org.mortbay.log'

    info   "grails.app"

    root {
        info 'stdout', 'null'
    }
}

